@use '../../utilities/variables' as scss;

.service__item {
  width: auto;
  border: 1px solid #C5DDE9;
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;
  transition: background-color .3s;
  margin-bottom: 14px;
  margin-right: 14px;
  display: inline-flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 12px rgba(244, 127, 0, 0.08), 0 2px 6px rgba(28, 39, 45, 0.04);

  @include scss.on-tablet {
    padding: 15px;
  }

  &.is-active, &:hover {
    border: 1px solid scss.$blue;
  }

  &-title {
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
    color: scss.$black;

    @include scss.on-tablet {
      font-size: 14px;
      padding-left: 10px;
    }
  }

  &-price {
    color: #f4870a;
    font-weight: bold;
    margin-left: 5px;
  }
}
